@media screen and (max-width: 768px) {
  .card-container {
    background-color: #0f172a;
    padding: 10px;
    width: 87vw;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Bree Serif';
  }

  .team-container-1 {
    display: flex;
    align-items: center;
  }

  .competing-logo {
    width: 80px;
    height: 80px;
  }

  .hr-line {
    color: #ffffff;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    background-color: #0f172a;
    padding: 10px;
    width: 95vw;
    border-radius: 20px;
    display: flex;
    color: #ffffff;
    font-family: 'Bree Serif';
    justify-content: space-between;
    align-items: center;
  }

  .team-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }

  .competing-logo {
    width: 120px;
    height: 120px;
  }

  .hr-line {
    color: #ffffff;
    display: none;
  }
  .man-of-match-container {
    padding: 10px;
  }
}
